* {
  font-family: "Poppins";
}
.body {
  background-color: #888;
}
.App {
  background-color: #fbf1c7;
  width: 100%;
  overflow: hidden;
}
.white-font-with-black-boundary {
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black,
    1px -1px 0 black;
  font-size: 25px;
}
.header {
  font-family: "Josefin Sans";
  font-size: 60px;
  color: #fbf1c7;
  font-weight: bold;
  text-align: center;
  text-shadow: 4px;
  text-shadow: 2px 2px 4px #a89984;
}
