*{
    font-family: 'Poppins';
}
.body {
    background-color: #888;
}
.App {
    background-color: #fbf1c7;
    width: 100%;
    overflow: hidden;
}
.white-font-with-black-boundary {
    color: white; 
    -webkit-text-stroke: 1px black; 
    text-shadow: 
        1px 1px 0 black, 
        -1px -1px 0 black, 
        -1px 1px 0 black, 
        1px -1px 0 black;
}