* {
  font-family: "Poppins";
}
.body {
  background-color: #717593;
}
.App {
  background-color: #5a5e77;
  width: 100%;
  overflow: hidden;
}
.white-font-with-black-boundary {
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black,
    1px -1px 0 black;
  font-size: 25px;
}
.header {
  font-family: "Varela Round";
  font-size: 60px;
  color: #bd93f9;
  font-weight: bold;
  text-align: center;
  text-shadow: 4px;
  text-shadow: 4px 4px 4px #df8abaa4;
background-color:#44475a;
}
